{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
		
	  <div class="pull-right">
	  
	  {% if licensed_md5 == 'd9a22d7a8178d5b42a8750123cbfe5b1' %} 
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
       {% endif %} 
		
		<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>

		<h1>{{ heading_title }}</h1>

		<ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
		</ul>
		</div>
	  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
	  	  
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-9">
              <select name="module_tagmanager_status" id="input-status" class="form-control">
                {% if module_tagmanager_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-code">{{ entry_code }}</label>
            <div class="col-sm-9">
              <input type="text" name="module_tagmanager_code" placeholder="{{ entry_code }}" class="form-control" value="{{ module_tagmanager_code }}"/>
              {% if error_code %}
              <div class="text-danger">{{ error_code }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-gid">{{ entry_gid }}</label>
            <div class="col-sm-9">
              <input type="text" name="module_tagmanager_gid" placeholder="{{ entry_gid }}" class="form-control" value="{{ module_tagmanager_gid }}"/>
            </div>
          </div>
           <div class="form-group">
            <label class="col-sm-3 control-label" for="input-admin">{{ entry_admin }}</label>
            <div class="col-sm-9">
              <select name="module_tagmanager_admin" id="input-admin" class="form-control">
                {% if module_tagmanager_admin %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>			
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-adword">{{ entry_adword }}</label>
            <div class="col-sm-9">
              <select name="module_tagmanager_adword" id="input-adword" class="form-control">
                {% if module_tagmanager_adword %}
                <option value="1" selected="selected">{{ text_enabled }} </option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
			 </div>
          </div> 
		            <div class="form-group">
            <label class="col-sm-3 control-label" for="input-cid">{{ entry_conversion_id }}</label>
            <div class="col-sm-9">
              <input type="text" name="module_tagmanager_conversion_id" placeholder="{{ entry_conversion_id }}" class="form-control" value="{{ module_tagmanager_conversion_id }}"/>
            </div>
          </div>   
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-clabel">{{ entry_conversion_label }} </label>
            <div class="col-sm-9">
              <input type="text" name="module_tagmanager_conversion_label" placeholder="{{ entry_conversion_label }}" class="form-control" value="{{ module_tagmanager_conversion_label }}"/>
            </div>
          </div> 
		  <div class="form-group">
            <label class="col-sm-3 control-label" for="input-userid">{{ entry_userid_status }}</label>
            <div class="col-sm-9">
			
              <select name="module_tagmanager_userid_status" id="input-userid" class="form-control">
                {% if module_tagmanager_userid_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
			
            </div>
          </div> 

          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-adword">{{ entry_remarketing }}</label>
            <div class="col-sm-9">
              <select name="module_tagmanager_remarketing" id="input-adword" class="form-control">
                {% if module_tagmanager_remarketing %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>			 
            </div>
          </div>  
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-ptitle">{{ entry_ptitle }}</label>
            <div class="col-sm-9">
              <select name="module_tagmanager_ptitle" id="input-ptitle" class="form-control">
                    {% for ptitle in product_title %}
                      {% if ptitle == module_tagmanager_ptitle %}
                    <option value="{{ ptitle }}" selected="selected">{{ ptitle }}</option>
                    {% else %}
                  <option value="{{ ptitle }}">{{ ptitle }}</option>
                    {% endif %}
                    {% endfor %}
              </select>
            </div>
          </div> 
           <div class="form-group">
            <label class="col-sm-3 control-label" for="input-mp">{{ entry_mp }}</label>
            <div class="col-sm-9">
			
             <select name="module_tagmanager_mp" id="input-mp" class="form-control">
                {% if module_tagmanager_mp %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>

            </div>
          </div>   
        </form>

		
      </div>
    </div>
  </div>
</div>
<script>

{{ footer }}